.slider {
    &-news {
        background-color: white;
        border-radius: 16px;
        padding: 18px 40px;

        @media screen and (max-width: 767px) {
            border-radius: 0;
        }
    }
}