.c {
    &-white {
        color: white;
    }
    &-black {
        color: black;
    }
    &-gray {
        color: #A7A7A7;
    }
    &-l-blue {
        color: #65C8FF;
    }
    &-red {
        color: #F51C1C;
    }
}